
@{
    ViewData["Title"] = "MissionPage";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
  <body>
    <div class="container p-0">
      <div class="row p-0">
        <div class="col-lg-6 col-12 p-0">
          <div class="row">
            <div class="col-12">
              @*<div class="header-img">
              </div>*@
            </div>
            </div>
            
        </div>
         
      
        
        <div class="col-lg-6 col-12 mt-5">
          <div class="row px-3">
            <h2>CSR initiative stands for Coffee & Farmer Equity</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          
            <div class="col">
              <div class="row">
                <div class="col-4">
                  <hr/>
                </div>
                <div class="col-4">
                  <center>
                    <button class="header-btn">Plant 10,000 Trees</button>
                  </center>
               
                </div>
                <div class="col-4">
                  <hr/>
                </div>
              </div>

            </div>
            <div class="d-flex justify-content-around mt-4">
              <div class="d-flex align-items-center">
                <img src="~/images/Seats-left.png" alt="" style="margin-right:10px;width:30px;height:30px"/>
                <div class="d-flex flex-column">
                  <span>10</span>
                  <span>Seats Left</span>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img src="~/images/mission.png" alt="" style="margin-right:10px;width:30px;height:30px"/>
                <div class="d-flex flex-column">
                  
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  
                  <span>Achieved</span>
                </div>
              </div>
            </div>
            <hr class="mt-4" />
            <div class="d-flex justify-content-between fav-btn">
              <button class="header-btn" style="width:320px;height:50px"><img src="~/images/heart1.png" style="margin-right: 20px;"/>Add to Favourite</button>
              <button class="header-btn" style="width:320px;height:50px"><img src="~/images/heart1.png" style="margin-right: 20px;"/>Recommend to Co-Worker</button>
             
            </div>
           

            <div class="col mt-3">
            
               
                <div class="d-flex justify-content-center">
                      <img src="~/images/star-empty.png" alt="" style="width:25px"/>
                      <img src="~/images/star-empty.png" alt="" style="width:25px"/>
                      <img src="~/images/star-empty.png" alt="" style="width:25px"/>
                      <img src="~/images/star-empty.png" alt="" style="width:25px"/>
                      <img src="~/images/star-empty.png" alt="" style="width:25px"/>
                </div>
               
           

            </div>
            <div class="d-flex justify-content-between mt-3">
              <div class="d-flex flex-column header-card justify-content-around p-3">
                <div>
                  <img src="~/images/pin1.png" alt="" />
                </div>
                <div class="mt-4">
                   <span>City</span>
                   <p>London</p>
                  </div>
              </div>
              <div class="d-flex flex-column header-card justify-content-around p-3">
                <div>
                  <img src="~/images/pin1.png" alt="" />
                </div>
                <div class="mt-4">
                   <span>City</span>
                   <p>London</p>
                  </div>
              </div>
              <div class="d-flex flex-column header-card justify-content-around p-3">
                <div>
                  <img src="~/images/pin1.png" alt="" />
                </div>
                <div class="mt-4">
                   <span>City</span>
                   <p>London</p>
                  </div>
              </div>
              <div class="d-flex flex-column header-card justify-content-around p-3">
                <div>
                  <img src="~/images/pin1.png" alt="" />
                </div>
                <div class="mt-4">
                   <span>City</span>
                   <p>London</p>
                  </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <button class="header-btn doc-btn" style="border-color:#F88634;color:#F88634">
                Apply
                <img src="~/images/right-arrow.png">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5" >
        <div class="col-lg-7 col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="mission-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Mission</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="organization-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Organization</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Comments</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mt-3 px-3" id="home" role="tabpanel" aria-labelledby="mission-tab">
                    <h3>Introduction</h3>
                     <p style="font-size:15px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            <br>
            <br>

            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.Duis aute irure dolor in reprehenderit in
            <br>
            <br>
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
          <h3>Challenge</h3>
          <p style="font-size:15px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            <br>
            <br>
            Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
          <h3>Documents</h3>
          <div class="d-flex justify-start mt-4">
            <button class="header-btn doc-btn"><img src="~/images/pdf.png">lorem.pdf</button>
            <button class="header-btn doc-btn "><img src="~/images/doc.png">Lorem.doc</button>
            <button class="header-btn doc-btn"><img src="~/images/xlsx.png" alt="">Lorem.xlsx</button>
          </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="organization-tab">
                  
                    <h3>Introduction</h3>
                    
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                        <br>
                        <br>
                        Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum.
                      </p>
                    
              
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="comments-tab">...</div>
              </div>
          
        </div>
        <div class="col-1">

        </div>
        <div class="col-lg-4 col-12 mt-3 px-3">
            <div class="row px-3">
                <div class="d-flex flex-column" style="border: 1px solid #E8E8E8">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Information</a>
                      </li>
                    </ul>
                    <div class="d-flex justify-content-around mt-3">
                      <p>Skills</p>
                      <p>Cool,Easy going,Math,Computer</p>
                      <hr />
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                      <p>Skills</p>
                      <p>Cool,Easy going,Math,Computer</p>
                      <hr />
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                      <p>Skills</p>
                      <p>Cool,Easy going,Math,Computer</p>
                      <hr />
                    </div>
                  </div>
            </div>
            <div class="row px-3" style="margin-top: 80px;">
                <div class="d-flex flex-column" style="border: 1px solid #E8E8E8">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Recent Volunteers</a>
                      </li>
                    </ul>
                    <div class="d-flex justify-content-around mt-3">
                      <figure>
                        <img src="~/images/volunteer1.png" alt="" class="volunteer-img">
                        <figcaption>Andrew Johnson</figcaption>
                      </figure>
                      <figure>
                        <img src="~/images/volunteer2.png" alt="" class="volunteer-img">
                        <center><figcaption>Andrew Johnson</figcaption></center>
                      </figure>
                      <figure>
                        <img src="~/images/volunteer3.png" alt="" class="volunteer-img">
                        <center><figcaption>Andrew Johnson</figcaption></center>
                      </figure>
                      
                    </div>
                    <div class="d-flex justify-content-around">
                      <figure>
                        <img src="~/images/volunteer1.png" alt="" class="volunteer-img">
                        <figcaption>Andrew Johnson</figcaption>
                      </figure>
                      <figure>
                        <img src="~/images/volunteer2.png" alt="" class="volunteer-img">
                        <center><figcaption>Andrew Johnson</figcaption></center>
                      </figure>
                      <figure>
                        <img src="~/images/volunteer3.png" alt="" class="volunteer-img">
                        <center><figcaption>Andrew Johnson</figcaption></center>
                      </figure>
                      
                    </div>
                    <div class="d-flex justify-content-around">
                      <figure>
                        <img src="~/images/volunteer1.png" alt="" class="volunteer-img">
                        <figcaption>Andrew Johnson</figcaption>
                      </figure>
                      <figure>
                        <img src="~/images/volunteer2.png" alt="" class="volunteer-img">
                        <center><figcaption>Andrew Johnson</figcaption></center>
                      </figure>
                      <figure>
                        <img src="~/images/volunteer3.png" alt="" class="volunteer-img">
                        <center><figcaption>Andrew Johnson</figcaption></center>
                      </figure>
                      
                    </div>
                    <hr/> 
                    <div class="row">
                      <div class="col-1">
                        <button class="volu-btn">
                          <img src="~/images/left.png" alt="">
                        </button>
                      </div> 
                      <div class="col-10">
                        <center>
                          1-9 out of 25 recent volunteer
                        </center>
                      </div>
                      <div class="col-1">
                        <button class="volu-btn">
                          <img src="~/images/right-arrow1.png" alt="">
                        </button>
                      </div>
                    </div>  
            </div>
            </div>
          
        </div>
      </div>
    </div>

@*    <script>
      $(document).ready(function () {
      var itemsMainDiv = ('.MultiCarousel');
      var itemsDiv = ('.MultiCarousel-inner');
      var itemWidth = "";
  
      $('.leftLst, .rightLst').click(function () {
          var condition = $(this).hasClass("leftLst");
          if (condition)
              click(0, this);
          else
              click(1, this)
      });
  
      ResCarouselSize();
  
  
  
  
      $(window).resize(function () {
          ResCarouselSize();
      });
  
      //this function define the size of the items
      function ResCarouselSize() {
          var incno = 0;
          var dataItems = ("data-items");
          var itemClass = ('.item');
          var id = 0;
          var btnParentSb = '';
          var itemsSplit = '';
          var sampwidth = $(itemsMainDiv).width();
          var bodyWidth = $('body').width();
          $(itemsDiv).each(function () {
              id = id + 1;
              var itemNumbers = $(this).find(itemClass).length;
              btnParentSb = $(this).parent().attr(dataItems);
              itemsSplit = btnParentSb.split(',');
              $(this).parent().attr("id", "MultiCarousel" + id);
  
  
              if (bodyWidth >= 1200) {
                  incno = itemsSplit[3];
                  itemWidth = sampwidth / incno;
              }
              else if (bodyWidth >= 992) {
                  incno = itemsSplit[2];
                  itemWidth = sampwidth / incno;
              }
              else if (bodyWidth >= 768) {
                  incno = itemsSplit[1];
                  itemWidth = sampwidth / incno;
              }
              else {
                  incno = itemsSplit[0];
                  itemWidth = sampwidth / incno;
              }
              $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
              $(this).find(itemClass).each(function () {
                  $(this).outerWidth(itemWidth);
              });
  
              $(".leftLst").addClass("over");
              $(".rightLst").removeClass("over");
  
          });
      }
  
  
      //this function used to move the items
      function ResCarousel(e, el, s) {
          var leftBtn = ('.leftLst');
          var rightBtn = ('.rightLst');
          var translateXval = '';
          var divStyle = $(el + ' ' + itemsDiv).css('transform');
          var values = divStyle.match(/-?[\d\.]+/g);
          var xds = Math.abs(values[4]);
          if (e == 0) {
              translateXval = parseInt(xds) - parseInt(itemWidth * s);
              $(el + ' ' + rightBtn).removeClass("over");
  
              if (translateXval <= itemWidth / 2) {
                  translateXval = 0;
                  $(el + ' ' + leftBtn).addClass("over");
              }
          }
          else if (e == 1) {
              var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
              translateXval = parseInt(xds) + parseInt(itemWidth * s);
              $(el + ' ' + leftBtn).removeClass("over");
  
              if (translateXval >= itemsCondition - itemWidth / 2) {
                  translateXval = itemsCondition;
                  $(el + ' ' + rightBtn).addClass("over");
              }
          }
          $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
      }
  
      //It is used to get some elements from btn
      function click(ell, ee) {
          var Parent = "#" + $(ee).parent().attr("id");
          var slide = $(Parent).attr("data-slide");
          ResCarousel(ell, Parent, slide);
      }
  
  });
    </script>*@
     
  </body>

