/* .topbar{
    display:block;
}
@media (max-width:775px){
    .topbar{
      display: none;
    }
}
@media (max-width:774px){
    .small-navbar{
      display: block;
    }
}
@media (min-width:775px){
    .small-navbar{
      display: none;
    }
} */




.profilePhoto{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.border-none{
    border: none !important;
    border-radius: 0px !important;
}

.img-filter{
    display: none;
}

.form-check-input:checked {
    background-color: #ff6a00 !important;
    border-color: #ff6a00 !important;
    margin-bottom: 28px;
}


@media screen and (max-width:767px) {
    #profileText {
        display: none !important;
    }

    .img-filter{
        display: block;
    }

    .filter-options{
        display: none;
    }
    .sort{
        display: none;
    }
    .view {
        display: none !important;
    }
}
