@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;500;700;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Sans' !important;
    background: transparent url('img/Layer 0.png') 0% 0% no-repeat padding-box;
}

.img-filter {
    display: none;
}

.border-none {
    border: none !important;
    border-radius: 0px !important;
}

.form-check-input:checked {
    background-color: #ff6a00 !important;
    border-color: #ff6a00 !important;
    margin-bottom: 28px;
}

.btn-apply {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

.btn-share {
    color: #757575;
    font-size: 17px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    letter-spacing: 0px;
    opacity: 1;
}

.header-card {
    border: 1px solid #E8E8E8;
    width: 120px;
    height: 130px;
}

.copyright {
    text-align: end;
}

/* TAB */
.tabs .nav-tabs .nav-link.active {
    color: #414141;
    background-color: #fff;
    border-color: #fff #fff #414141;
    border-width: 3px;
    font-weight: 600;
}

.tabs .nav-link {
    color: #757575;
}

.vol-img {
    height: 70px;
    width: 70px;
}

@media (max-width: 991.98px) {

    .copyright,
    .links {
        text-align: center;
    }

    .text {
        text-align: center;
    }
}

@media (max-width:767.98px) {
    #profileText {
        display: none !important;
    }

    .img-filter {
        display: block;
    }

    .filter-options {
        display: none;
    }

    .sort {
        display: none;
    }

    .view {
        display: none !important;
    }

    .d-flex a .temp {
        display: none;
    }

    .btns {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 425.98px) {
    .cards {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }
}